[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
requests-mock = "*"
jinja2 = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
pytest = "*"
pytest-cov = "*"
mbed-targets = {path = ".", editable = true}
