[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests-mock = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
mypy = ">=0.500"
pytest = "*"
pytest-cov = "*"
mbed-targets = {editable = true, path = "."}
mbed-tools-ci-scripts = "*"
mbed-tools-lib = {git = "https://github.com/ARMmbed/mbed-tools-lib.git"}
